.hero{
    background-color: #454b92;
    margin-block:30px;
    padding-block-start: 10px;
    border-radius: 10px;
}
.icon{
    color: rgb(255, 255, 255);
    
}
.des{
    color: white;
    font-size: 19px;
}
.des:hover{
text-decoration: underline;
transition: text-decoration 0.9s linear;
}